.btn-help {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  width: 6rem;
  height: 2.7rem;
  border-radius: 1.5rem;
  border: 0;
  background-color: #ffc107;
  font-weight: bold;
  color: #1e1e1e;
}

.btn-feedback {
  position: fixed;
  top: 25rem;
  left: calc(100% - 55px);
  transform: rotate(-90deg);
  width: 5rem;
  background-color: #062844;
  font-weight: 300;
  color: #ffffff;
}

.btn-disabled {
    background-color: $gray-300 !important;
    border: $gray-300 !important;
    color: $gray-600 !important;
}

.btn-secondary {
    font-weight: $btn-dark-font-weight !important;
}
