@import "./variables";

body {
    min-height: 100vh;
}
.sidebar-container {
    max-width: 250px;
    position: relative;
}
.sidebar {
    position: fixed;
    background-color: #333a3d;
    height: 100vh;
    max-width: 250px;
}

.bg-brush {
    background-image: url("../images/big-title-brush-background.png");
    background-repeat: no-repeat;
    width: max-content;
    background-size: cover;
}

.btn-disabled{
    background-color: $gray-300!important;
    border: $gray-300!important;
    color: $gray-600!important;
}
