@import "./variables";

body {
    min-height: 100vh;
}
.sidebar-container {
    max-width: 250px;
    position: relative;
}
.sidebar {
    position: fixed;
    background-color: $gray;
    height: 100vh;
    max-width: 250px;
}

.bg-brush {
    background-image: url("../images/big-title-brush-background.png");
    background-repeat: no-repeat;
    width: max-content;
    background-size: cover;
}

.bg-yellow {
    background-color: $yellow !important;
}

.profile-icon {
    background-color: $gray-300;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: $dark;
    h2 {
        margin: 0;
    }
}

.profile-icon-sm {
    width: 50px;
    height: 50px;
}

.profile-icon-bordered {
    border: 3px solid white;
}

.profile-icon-group {
    display: flex;
    flex-direction: row-reverse;
    .profile-icon {
        margin-right: -10px;
    }
    .bg-yellow {
        z-index: 10;
    }
}

.underline {
    background-color: $yellow;
    width: 50px;
    height: 3px;
}

.report-header {
    background-color: white;
    padding: $accordion-button-padding-y $accordion-button-padding-x;
    border-radius: $border-radius;
}

.accordion-button {
    font-size: $accordion-button-font-size !important;
    &::after {
        content: "" !important;
    }
}

.text-light-gray {
    color: $gray-light;
}

.rounded {
    border-radius: $border-radius;
}

.bg-face-very-sad {
    background-color: mix($white, $very-sad, $bg-faces-opacity);
}
.bg-face-sad {
    background-color: mix($white, $sad, $bg-faces-opacity);
}
.bg-face-neutral {
    background-color: mix($white, $neutral, $bg-faces-opacity);
}
.bg-face-happy {
    background-color: mix($white, $happy, $bg-faces-opacity);
}
.bg-face-very-happy {
    background-color: mix($white, $very-happy, $bg-faces-opacity);
}

.accordion-icon-hidden {
    &:after{
        content: none!important;
    }
}
