@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/_mixins.scss';

$bootstrap-icons-font-dir: "~bootstrap-icons/font/fonts";

$yellow:#f0c815;
$dark:#1f2426;

$body-bg:#f5f7f8;

$nav-pills-link-active-bg: $dark ;
$nav-pills-link-active-font-weight: bold;
$nav-pills-link-active-color: white;
$nav-link-hover-color:white;
$nav-pills-border-radius: 3px;
$nav-link-color: white;


$btn-border-radius: 3px;